body {
    font-family: "Josefin Sans", sans-serif;
}

.brand h1 {
    font-family: "Chango", cursive;
    font-size: 3.4rem;
}

.navbar {
    font-weight: 800;

    .navbar-brand h1 {
        font-family: "Chango", cursive;
        font-size: 2.4rem;
    }
    .nav-item {
        font-size: 1.1rem;
    }
    .nav-item:hover {
        text-decoration: underline;
        text-underline-position: under;
    }
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

/////

#footer {
    font-weight: 100;
}

@media (max-width: 768px) {
    .navbar {
        .nav-link:hover {
            border-bottom: none;
        }
    }
}