body {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
}

.brand h1 {
    font-family: "Chango", cursive;
    font-size: 3.4rem;
}

.navbar {
    font-weight: 800;

    .navbar-brand h1 {
        font-family: "Chango", cursive;
        font-size: 2.4rem;
    }
    .nav-item {
        font-size: 1.1rem;
    }
    .nav-item:hover {
        text-decoration: underline;
        text-underline-position: under;
    }
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

#book {
    position: fixed;
    bottom: 80px;
    right: 80px;
}

.book {
    line-height: 1.2em;
    font-weight: 700;
    font-size: .9rem;
}

/////

@media (max-width: 768px) {
    .navbar {
        .nav-link:hover {
            border-bottom: none;
        }
    }
}