body {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
}

.brand h1 {
    font-family: "Chango", cursive;
    font-size: 3.4rem;
}

.navbar {
    .navbar-brand h1 {
        font-family: "Chango", cursive;
        font-size: 2.4rem;
    }

    .nav-item, .nav-link {
        font-size: 1.1rem;
        font-weight: 700;
        line-height: 1.2;
        color: #000;
    }
    .nav-link:hover {
        text-decoration: underline;
    }
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}


#quotes {
    i {
        opacity: 0.3;
    }
}

#footer {
    font-weight: 100;
}

@media (max-width: 768px) {
    .navbar {
        .nav-link:hover {
            border-bottom: none;
        }
    }
}